<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.1" targetFramework="net472" />
  <package id="Autofac.Wcf" version="4.1.0" targetFramework="net46" />
  <package id="AutoMapper" version="8.0.0" targetFramework="net472" />
  <package id="Dapper.StrongName" version="1.50.8-alpha.23.ge7020b2bde" targetFramework="net472" />
  <package id="DapperExtensions.NetStandard" version="1.2.2" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net472" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net472" />
</packages>